<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
    <key>Description</key>
    <string>A UserSpec user story with scenarios</string>
    <key>Summary</key>
    <string>A UserSpec user story test file</string>
    <key>SortOrder</key>
    <string>1</string>
    <key>DefaultCompletionName</key>
    <string>Spec</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>productName</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Name:</string>
            <key>Description</key>
            <string>The name of the spec (e.g., ShoppingCart)</string>
            <key>Type</key>
            <string>text</string>
            <key>NotPersisted</key>
            <true/>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>userStory</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>User Story:</string>
            <key>Description</key>
            <string>As a [role], I want [action] so that [benefit]</string>
            <key>Type</key>
            <string>text</string>
            <key>Default</key>
            <string>As a user, I want to perform an action so that I get a benefit</string>
            <key>NotPersisted</key>
            <true/>
        </dict>
    </array>
</dict>
</plist>
